
<div class = "margintop">
<% @todos.each do |todo| %>
<h1>  <%= link_to todo.description, todo %> </h1>
<p>  <%= todo.completed %> </p>
<p>  <%= link_to "Borrar", todo, method: :delete%> </p>
<% end %>
</div>
